[submodule "Udemy-Basic-Python"]
	path = Udemy-Basic-Python
	url = https://github.com/rainoverme002/Udemy-Basic-Python.git
[submodule "Udemy-Complete-Junior-to-Senior-Web-Developer"]
	path = Udemy-Complete-Junior-to-Senior-Web-Developer
	url = https://github.com/rainoverme002/Udemy-Complete-Junior-to-Senior-Web-Developer.git
