h2 {
  color: blue;
}

.box-model {
  /* Border with 5px and solid color red */
  border: 5px solid red;

  /* Make The Box Inline Horizontally*/
  display: inline-block;

  /* Padding*/
  padding: 5px 20px;
  /* Margin : Top Right Bottom Left*/
  margin: 0px 20px 0px 20px;

  /* Content Width x Height*/
  width: 33px;
  height: 55px;
}

p {
  font-size: 20px;
}

span {
  /* 5 times the font-size before = 20pxs */
  font-size: 5em;
}

span #rem {
  /* 5 times the font-size of root(html)*/
  font-size: 5em;
}
