body {
  margin: 0px;
}
.container {
  /* make the responsive flex box*/
  display: flex;

  /*multi line flex items*/
  flex-wrap: wrap;

  /*justify the content in the center of the web page*/
  justify-content: center;
}

h1 {
  font-family: fantasy;
  font-size: 3em;
  border-bottom: 2px solid pink;
  border-right: 2px solid pink;
  width: 400px;
  text-align: center;
  box-shadow: 4px 4px 5px #888888;
  margin: 0px;
  margin-top: 10%;
}

img {
  width: 450px;
  height: 300px;
  margin: 10px;

  /*Image to transition in 1s*/
  transition: all 1s 0.1s;
}

img:hover {
  /*transform the image from 1.0 to 1.1*/
  transform: scale(1.1);
}
