.container {
  /* make the responsive flex box*/
  display: flex;

  /*multi line flex items*/
  flex-wrap: wrap;

  /*justify the content in the center of the web page*/
  justify-content: center;
}

h1 {
  font-family: fantasy;
  font-size: 3em;
  border-bottom: 2px solid pink;
  border-right: 2px solid pink;
  width: 400px;
  text-align: center;
}

img {
  width: 450px;
  height: 300px;
  margin: 10px;
}
